body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    background: #007bff;
    color: white;
    padding: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #007bff;
    color: white;
}
